@page
@{
    ViewData["Title"] = "EstudianteNoEncontrado";
}

<h1 style="color:red">El estudiante que intenta consultar no exite.</h1>
<br />
<a class="btn btn-primary" asp-page="./RegistroEstudiantes"> Volver al listado</a>

