@page
@{
    ViewData["Title"] = "Materia No Encontrada";
}

<h1 style="color:red">La materia que intenta consultar no exite.</h1>
<br />
<a class="btn btn-primary" asp-page="./RegistroMaterias"> Volver al listado</a>

